@media screen and (min-width: 1921px) {
}

@media screen and (max-width: 1310px) {
	.offer {
		&__wrapper {
			&::before {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 1270px) {
	.house {
		&__top {
			&-text {
				display: none;
			}
		}

		&__left {
			&-text {
				display: none;
			}
		}

		&__right {
			&-text {
				display: none;
			}
		}
	}

	#services {
		&__list {
			&-one {
				display: none;

				grid-column: 1/3;

				&.active {
					display: block;
				}
			}
			&-two {
				display: none;

				grid-column: 1/3;

				&.active {
					display: block;
				}
			}
		}

		&__item {
			&-one {
				&.active {
					color: $color-cream-three;
				}
			}
			&-two {
				&.active {
					color: $color-cream-three;
				}
			}
		}
	}

	.services {
		&__wrapper {
			display: flex;
			flex-direction: column;
		}

		&__title {
			order: 1;
		}

		&__items {
			order: 2;
			width: 730px;
			margin-top: 50px;
			margin-bottom: 0;
		}

		&__house {
			order: 3;
			width: 1200px;
			margin-top: 40px;
		}

		&__action {
			order: 5;
		}

		&__info {
			display: block;
		}
	}
}

//  1200px - 1229px
@media screen and (max-width: 1229px) {
	.stages {
		&__item {
			&-line {
				&::before {
					left: -15px;
					width: calc(100% + 30px);
				}
			}

			&-title {
				padding-right: 27px;
			}

			&-description {
				padding-right: 72px;
			}

			&:first-child {
				.stages__item-line::before {
					left: 10px;
					width: calc(100% - 10px);
				}
			}
		}

		// &__item:first-child {
		// 	&-line {
		// 		&::before {
		// 			left: 10px;
		// 			width: calc(100% - 10px);
		// 		}
		// 	}
		// }
	}

	.offer {
		&__title {
			width: 665px;
			margin: 0 auto 13px;
		}
	}
}

//  1024px - 1199px
@media screen and (max-width: 1199px) {
	.tabs {
		&__content {
			&-item {
				align-items: center;
				flex-direction: column;
			}

			&-list {
				margin-right: 0;
				order: 2;
				max-width: 730px;
			}

			&-preview {
				order: 1;
				margin-right: 0;
				margin: 140px 0 65px 0;
			}
		}

		&__btn {
			&:not(:last-child) {
				// margin-right: 10px;
			}
		}

		&__column {
			&-img {
				order: 1;
				margin-top: 7px;
				margin-bottom: 40px;
			}

			&-list {
				order: 2;
				max-width: 730px;

				.list__item {
					margin-bottom: 25px;
				}
			}
		}
	}

	.projects {
		&__navigation {
			.swiper-button-prev,
			.swiper-button-next {
				display: none;
			}
		}

		&__tabs {
			.tabs__content {
				padding: 0;
			}
		}
	}

	.houses {
		&__tabs {
			grid-column-gap: 30px;
		}
	}

	.footer {
		&__wrapper {
			display: grid;
			grid-template-columns: 220px 1fr 1fr 238px;
		}
	}
}

@media screen and (max-width: 1130px) {
	.offer {
		&__wrapper {
			padding: 50px 33px;
		}

		&__description {
			// padding: 0 40px;
		}

		&__form {
			flex-direction: column;

			&-input {
				margin-right: 0;
				margin-bottom: 18px;
			}
		}
	}

	.contactmap {
		&__wrapper {
			flex-direction: column;
			align-items: flex-start;
		}

		&__map {
			margin-top: 35px;
			min-width: 100%;
			height: 388px;
		}
	}

	.houses {
		padding-bottom: 70px;

		&__tabs {
			grid-template-columns: 1fr;
			grid-template-rows: auto auto auto auto;
			grid-column-gap: 0px;

			.tabs {
				&__btn {
					grid-column: 1 / 2;
					grid-row: 1 / 2;
				}
			}
		}

		&__gallery {
			&-wrapper {
				grid-column: 1 / 2;
				grid-row: 2 / 3;
			}

			margin: 18px auto 0 auto;
			width: 730px;

			.swiper-pagination-bullet {
				font-size: 22px;
				transition: all 0.1s linear;

				&-active {
					font-size: 26px;
				}
			}
		}

		&__content {
			grid-column: 1 / 2;
			grid-row: 3 / 4;

			margin: 40px auto 0 auto;
			max-width: 730px;

			&-text {
				margin-bottom: 35px;

				p {
					&:not(:last-child) {
						margin-bottom: 15px;
					}
				}
			}
		}

		&__active {
			grid-column: 1 / 2;
			grid-row: 4 / 5;

			margin: 0 auto;
			width: 730px;
		}
	}

	.footer {
		&__wrapper {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(4, auto);
			color: $color-mobile-list;
		}

		&__logo {
			grid-column: 1 / 3;
			grid-row: 1 / 2;
			margin: 30px auto 55px auto;

			width: 180px;
		}

		&__menu {
			grid-column: 1 / 2;
			grid-row: 2 / 4;
		}

		&__info {
			grid-column: 2 / 3;
			grid-row: 2 / 3;
		}

		&__pay {
			grid-column: 2 / 3;
			grid-row: 3 / 4;

			margin-top: 25px;

			&-item {
				left: 0;
				position: relative;
			}
		}

		&__phone {
			grid-column: 1 / 3;
			grid-row: 4 / 5;

			margin-top: 35px;

			text-align: center;

			&-btn {
				margin: 0 auto;
			}
		}

		&__bottom {
			padding: 40px 0;

			&-offer {
				margin-right: 35px;
			}
		}
	}
}

@media screen and (max-width: 1080px) {
}

//  841px - 1023px
@media screen and (max-width: 1023px) {
	.header {
		&__mobile {
			&-phone {
				display: flex;
			}
		}

		&__menu {
			display: none;
		}

		&__phone {
			display: none;
		}

		&__location {
			margin-right: 45px;
		}

		&__email {
			margin-right: 127px;
		}
	}

	.burger {
		display: flex;
	}

	.header__content-title {
		font-size: 50px;
		line-height: 62px;
		max-width: 700px;
		margin-bottom: 40px;
	}

	.header__content-subtitle {
		font-size: 26px;
		line-height: 32px;
		max-width: 450px;
		margin-bottom: 62px;
	}

	.header__content {
		padding-top: 58px;
	}

	.swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal,
	.swiper-pagination-custom,
	.swiper-pagination-fraction {
		// bottom: 56px;
	}

	.logo {
		width: 92px;
	}

	.house {
		height: 530px;
	}

	.services {
		margin-top: 92px;
		padding-top: 20px;

		&__house {
			width: 800px;
		}
	}

	.technologies {
		&__wrapper {
			padding-top: 20px;
		}
	}

	.projects {
		padding-top: 20px;
	}

	.stages {
		padding-top: 20px;
	}

	.contactmap {
		padding-top: 20px;
	}
}

@media screen and (max-width: 939px) {
	.projects {
		&__tabs {
			.tabs__btn {
				padding: 0;
			}
		}

		&__slider {
			width: calc(100% + 15px);
		}

		&__slide {
			&:last-child {
				.projects__slide-img,
				.projects__slide-title,
				.projects__slide-text {
					margin-right: 10px;
				}
			}
		}
	}
}

@media screen and (max-width: 886px) {
	.offer {
		&__wrapper {
			padding: 50px 27px;
		}

		&__description {
			width: 685px;
		}
	}
}

// 769px - 840px
@media screen and (max-width: 840px) {
	.services {
		&__house {
			width: 650px;
		}
	}

	.house {
		height: 430px;
	}

	.header__email {
		margin-right: 90px;
	}
}

@media screen and (max-width: 780px) {
	.houses {
		&__gallery {
			width: 100%;
		}

		&__active {
			width: 100%;
		}
	}
}

//  751px - 768px
@media screen and (max-width: 768px) {
	.header {
		min-height: 100%;
	}

	.title-h3 {
		font-size: 40px;
	}

	.services {
		margin-top: 70px;
		padding: 20px 0 70px 0;

		&__items {
			grid-template-columns: 1fr;
			grid-template-rows: 31px 1fr 31px 0;
			grid-column-gap: 0;
			grid-row-gap: 15px;
			width: 100%;

			margin-bottom: 0;
		}

		&__item {
			&-title {
				font-size: 26px;
				height: 35px;
				border-bottom: 1px solid;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			&-svg {
				display: block;
				transition: all 0.3s linear;

				path {
					stroke: $color-white;
					// fill: $color-cream;
				}

				circle {
					stroke: $color-white;
					// stroke: $color-cream;
				}

				&.active {
					transform: rotate(180deg);
					path {
						stroke: $color-cream-three;
					}

					circle {
						stroke: $color-cream-three;
					}
				}
			}
		}

		&__list {
			&-item:first-child {
				margin-top: 20px;
			}

			margin-bottom: 20px;
		}

		&__info {
			width: 100%;
		}
	}

	.house {
		position: relative;
		max-width: 720px;
	}

	#services {
		&__item {
			&-one {
				grid-row: 1/2;

				// &.active {
				// 	color: $color-cream-three;
				// }
			}
			&-two {
				grid-row: 3/4;

				// &.active {
				// 	color: $color-cream-three;
				// }
			}
		}

		&__list {
			&-one {
				display: none;

				grid-column: 1/2;
				grid-row: 2/3;

				&.active {
					display: block;
				}
			}
			&-two {
				display: none;

				grid-column: 1/2;
				grid-row: 4/5;

				&.active {
					display: block;
				}
			}
		}
	}

	.technologies {
		&__wrapper {
			padding-bottom: 70px;
		}
	}

	.projects {
		padding-bottom: 110px;
	}

	.stages {
		padding-top: 20px;
	}

	.offer {
		&__title {
			font-size: 40px;
			line-height: 50px;
			width: auto;
		}

		&__description {
			font-size: 24px;
			line-height: 29px;
			width: auto;
		}
	}

	.modal {
		&__wrapper {
			width: 320px;
			padding: 72px 15px 35px;
		}

		&__close {
			width: 15px;
			height: 15px;
			top: 17px;
			right: 17px;
		}

		&__title {
			font-size: 18px;
			line-height: 22px;
			width: 290px;
			margin-bottom: 28px;
			font-family: "Gilroy-Regular", sans-serif;
		}

		&__form {
			width: 250px;

			&-input {
				height: 60px;
				padding: 20px;
				font-size: 18px;

				&::placeholder {
					font-size: 18px;
				}

				&:first-child {
					margin-bottom: 12px;
				}
			}

			&-agreement {
				margin-top: 21px;
				margin-bottom: 36px;
			}

			&-text {
				font-size: 9px;
				line-height: 11px;
			}

			&-btn {
				font-size: 18px;
				height: 60px;
				padding: 21px 54px;

				.btn__text {
					font-size: 18px;
				}
			}
		}
	}
}

//  661px - 750px
@media screen and (max-width: 750px) {
	.header {
		&__location {
			display: none;
		}

		&__email {
			display: none;
		}
	}

	.services {
		&__house {
			width: 500px;
		}
	}

	.house {
		height: 350px;
	}

	.mobile {
		&__phone {
			margin-bottom: 25px;
		}

		&__location {
			display: flex;

			svg {
				width: 20px;
				height: 20px;
			}
		}

		&__email {
			display: flex;

			svg {
				width: 20px;
				height: 20px;
			}
		}
	}
}

//  580px - 660px
@media screen and (max-width: 660px) {
	.header {
		&__top {
			height: 90px;
		}

		&__content {
			&-title {
				font-size: 28px;
				line-height: 34px;
				max-width: 290px;
				margin-bottom: 23px;
			}

			&-subtitle {
				font-size: 16px;
				line-height: 19px;
				max-width: 290px;
				margin-bottom: 28px;
			}
		}
	}

	.logo {
		width: 57px;
	}

	.title-h3 {
		// font-size: 26px;
		font-size: 30px;
	}

	.services {
		padding-bottom: 45px;

		&__item {
			&-title {
				font-size: 20px;
			}
		}

		&__list {
			&-item {
				padding-left: 20px;

				font-size: 14px;
				line-height: 17px;
				color: $color-mobile-list;

				&::before {
					top: 2px;
					width: 10px;
					height: 10px;
				}

				&:not(:last-child) {
					margin-bottom: 11px;
				}
			}
		}

		&__info {
			&-text {
				font-size: 14px;
				line-height: 17px;
				color: $color-mobile-list;
				padding-left: 64px;

				&::before {
					width: 50px;
					top: 7px;
				}

				&:not(:last-child) {
					margin-bottom: 18px;
				}
			}
		}
	}

	.list {
		&__item {
			// padding-left: 20px;

			font-size: 14px;
			line-height: 17px;

			&-title {
				font-size: 18px;
				margin-bottom: 6px;
				padding-left: 30px;

				&::before {
					width: 18px;
					height: 18px;
					background-size: 18px 18px;
					top: -2px;
				}
			}

			&-text {
				font-size: 14px;
				line-height: 17px;
				padding-left: 30px;
			}

			&::before {
				top: 2px;
				width: 10px;
				height: 10px;
			}

			&:not(:last-child) {
				margin-bottom: 11px;
			}
		}
	}

	.technologies {
		&__wrapper {
			// padding: 45px 0;
		}
	}

	.tabs {
		&__btn {
			&-item {
				font-size: 14px;
				padding: 12px 16px;

				&:not(:last-child) {
					margin-right: 10px;
				}
			}
		}

		&__content {
			&-preview {
				transform: scale(0.8);
				margin: 30px 0 0;
			}
		}

		&__column {
			&-img {
				transform: scale(0.8);
				margin-top: 0;
				margin-bottom: 20px;
			}

			.list__item {
				margin-bottom: 11px;
			}
		}
	}

	// стили для кнопок
	.btn {
		padding: 19px 42px;

		&__text {
			font-size: 18px;
		}
	}

	.swiper-pagination-bullet {
		width: 14px;
		height: 14px;
		border: 2px solid $color-white;
	}

	.swiper-pagination-bullet-active {
		&::before {
			top: 3px;
			left: 3px;
			width: 8px;
			height: 8px;
		}
	}

	// отступы между dots
	.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
	.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);
	}

	.projects {
		// padding-top: 45px;
		// padding-bottom: 95px;

		&__tabs {
			margin-top: 40px;
		}

		&__scroll {
			&-wrapper {
				width: 290px;
			}

			span:first-child {
				font-size: 20px;
				margin-right: 8px;
				width: 27px;
			}

			span:last-child {
				font-size: 20px;
				margin-left: 8px;
				width: 27px;
			}
		}

		&__slider {
		}

		&__slide {
			&-img {
				height: 174px;
				margin-bottom: 18px;
			}

			&-title {
				font-size: 18px;
				line-height: 22px;
				margin-bottom: 8px;
			}

			&-text {
				font-size: 14px;
				line-height: 17px;
			}
		}
	}

	.stages {
		&__items {
			grid-template-columns: 1fr;
			grid-row-gap: 35px;
		}

		&__item {
			grid-template-columns: 1fr 18px;
			grid-template-rows: 55px auto 1fr;

			&-number {
				grid-column: 1 / 3;
				grid-row: 1 / 2;

				font-size: 50px;
			}

			&-line {
				grid-column: 2 / 3;
				grid-row: 2 / 4;

				&::before {
					top: 23px;
					width: 1px;
					height: calc(100% + 40px + 55px);
					left: 8px;
				}

				&::after {
					top: 15px;
					width: 18px;
					height: 18px;
				}
			}

			&-title {
				grid-column: 1 / 2;
				grid-row: 2 / 3;

				font-size: 18px;
				line-height: 22px;

				padding: 15px 20px 6px 0;
			}

			&-description {
				grid-column: 1 / 2;
				grid-row: 3 / 4;

				font-size: 14px;
				line-height: 17px;
				padding-right: 26px;
				// height: 48px;
			}

			&:first-child {
				.stages__item-line::before {
					left: 8px;
					width: 1px;
				}
			}
		}
	}

	.offer {
		padding-top: 40px;
		padding-bottom: 70px;

		.container {
			padding: 0;
		}
		&__wrapper {
			padding: 35px 15px;
		}

		&__title {
			font-size: 30px;
			line-height: 37px;
			width: 270px;
			margin-bottom: 16px;
		}

		&__description {
			font-size: 18px;
			line-height: 22px;
			width: 275px;
		}

		&__form {
			&-input {
				width: 250px;
				height: 60px;
				font-size: 18px;
				padding: 19px 25px;
				margin-bottom: 12px;

				&::placeholder {
					font-size: 18px;
				}
			}

			&-btn {
				width: 250px;
				height: 60px;
			}
		}
	}

	.houses {
		&__tabs {
			grid-template-columns: minmax(270px, 630px);
		}

		&__content {
			margin-top: 87px;

			&-title {
				font-size: 18px;
				margin-bottom: 15px;
			}
			&-text {
				margin-bottom: 25px;

				p {
					font-size: 14px;
					line-height: 17px;

					&:not(:last-child) {
						margin-bottom: 8px;
					}
				}
			}
		}

		&__active {
			text-align: center;

			& .btn {
				width: 230px;
				height: 60px;
				padding: 20px 43px;
			}
		}

		&__gallery {
			width: calc(100% + 15px);
			height: 350px;

			&-wrapper {
				position: relative;
			}

			&-item {
				padding-right: 0;
			}

			&-navigation {
				display: none;
			}

			&-slide {
				&:last-child {
					img {
						margin-right: 10px;
					}
				}
			}
		}

		&__scroll {
			position: absolute;
			bottom: -57px;
			// left: calc(50% - (514px / 2));
			left: 0;
			// width: 100%;
			height: 29px;
			// flex: 0 0 514px;
			// width: 514px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 1;

			&-wrapper {
				// width: 514px;
				width: 290px;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}

			// сам скроллбар
			.swiper-scrollbar {
				height: 3px;
				background-color: $color-white;
				width: 100%;
			}

			// бегунок
			.swiper-scrollbar-drag {
				background-color: $color-cream-three;
				cursor: pointer;
			}

			span:first-child {
				font-size: 20px;
				// font-size: 26px;
				color: $color-cream-three;
				font-family: "Gilroy-Bold", sans-serif;
				// margin-right: 15px;
				margin-right: 8px;
				width: 27px;
			}

			span:last-child {
				font-size: 20px;
				// font-size: 26px;
				color: $color-gray;
				// margin-left: 15px;
				margin-left: 8px;
				width: 27px;
			}
		}
	}

	.contactmap {
		padding-bottom: 120px;

		&__info {
			width: 100%;
		}

		&__title {
			text-align: center;
		}

		&__description {
			font-size: 18px;
			line-height: 21px;
			width: 240px;
			text-align: center;
			margin: 0 auto 25px auto;
		}

		&__contact {
			&-item {
				&:not(:last-child) {
					margin-bottom: 15px;
				}

				// &:first-child {
				// 	.contactmap__contact-icon {
				// 		width: 11px;
				// 	}
				// }

				// &:nth-child(2) {
				// 	.contactmap__contact-icon {
				// 		width: 14px;
				// 	}
				// }
			}

			&-icon {
				width: 15px;
				height: 15px;
				margin-right: 5px;
			}

			&-text {
				font-size: 14px;
			}
		}

		&__social {
			&-item {
				width: 22px;
			}
		}

		&__map {
			height: 300px;
		}
	}

	.footer {
		&__wrapper {
			grid-template-columns: 1fr;
			grid-template-rows: auto auto auto auto auto;
		}

		&__top {
			padding-bottom: 45px;
		}

		&__logo {
			width: 100px;

			margin: 20px auto 40px;
		}

		&__menu {
			grid-column: 1/2;
			grid-row: 2/3;

			margin: 0 auto;
			text-align: center;

			&-link {
				font-size: 18px;

				&:not(:last-child) {
					margin-bottom: 18px;
				}
			}
		}

		&__phone {
			grid-column: 1/2;
			grid-row: 3/4;

			&-number {
				font-size: 18px;
				margin-bottom: 9px;
			}

			&-btn {
				width: 230px;
				height: 60px;
				padding: 18px 36px;

				span {
					font-family: "Gilroy-Medium", sans-serif;
				}
			}
		}

		&__info {
			grid-column: 1/2;
			grid-row: 4/5;

			margin: 35px auto 0 auto;
			text-align: center;

			&-item {
				font-size: 16px;

				&:not(:last-child) {
					margin-bottom: 10px;
				}
			}
		}

		&__pay {
			grid-column: 1/2;
			grid-row: 5/6;

			margin: 35px auto 0 auto;

			width: 106px;
		}

		&__bottom {
			padding: 20px 0 42px;

			&-wrapper {
				flex-direction: column;
				align-items: flex-start;

				font-size: 10px;
			}

			&-left {
				margin-bottom: 18px;
			}

			&-right {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
			}

			&-offer {
				margin-right: 0;
				// display: block;
			}

			&-politics {
				// display: block;
			}
		}
	}

	.burger {
		top: 30px;
	}

	.mobile {
		width: 100%;

		&__wrapper {
			padding-top: 88px;
		}

		&__items {
			padding: 0 0 35px 20px;
		}

		&__item {
			font-size: 18px;

			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}

		&__phone {
			padding-left: 20px;
			margin-bottom: 24px;

			&-wrapper {
				svg {
					width: 19px;
					margin-right: 5px;
				}
			}

			&-text {
				font-size: 18px;
			}

			&-backcall {
				font-size: 14px;
				color: $color-modal-text;
			}
		}

		&__location {
			padding-left: 20px;
			margin-bottom: 24px;

			&-text {
				font-size: 18px;
			}

			svg {
				width: 15px;
				height: 15px;

				margin-right: 9px;
			}
		}

		&__email {
			padding-left: 20px;

			&-text {
				font-size: 18px;
			}

			svg {
				width: 15px;
				height: 15px;

				margin-right: 9px;
			}
		}
	}
}

//  480px - 579px
@media screen and (max-width: 579px) {
	.services {
		&__house {
			width: 350px;
		}
	}

	.house {
		height: 250px;
	}

	.houses {
		&__gallery {
			height: 300px;
		}
	}
}

//  480px - 499px
@media screen and (max-width: 520px) {
	.marker {
		&__one {
			&-hover {
				left: -175px;
			}
		}

		&__three {
			&-hover {
				left: 0px;
			}
		}

		&__four {
			&-hover {
				left: -158px;
			}
		}
	}

	.tabs {
		&__content {
			margin-top: 0;

			&-preview {
				transform: scale(0.65);
			}
		}
	}
}

//  480px - 499px
@media screen and (max-width: 499px) {
}

//  320px - 479px
@media screen and (max-width: 479px) {
	.contactmap {
		&__map {
			height: 156px;
		}
	}

	.houses {
		&__gallery {
			height: 250px;
		}
	}
}

@media screen and (max-width: 410px) {
	.houses {
		&__gallery {
			height: 200px;
		}
	}
}

// адаптив для высоты
//  681px - 880px
//@media screen and (max-height: 880px) {
//    .header {
//        height: 880px;
//
//        &__content {
//            padding-top: 60px;
//        }
//    }
//
//    .swiper {
//        height: 880px;
//    }
//
//    .swiper-slide img {
//        height: 880px;
//    }
//}

//  320px - 680px
//@media screen and (max-height: 680px) {
//    .header {
//        height: 680px;
//
//        &__content {
//            padding-top: 20px;
//
//            &-title {
//                margin-bottom: 20px;
//            }
//
//            &-subtitle {
//                margin-bottom: 25px;
//            }
//        }
//    }
//
//    .swiper {
//        height: 680px;
//    }
//
//    .swiper-slide img {
//        height: 680px;
//    }
//}

//
@media (max-width: 376px) {
	.services {
		&__house {
			width: 300px;
			margin-top: 25px;
		}
	}

	// .house {
	// 	height: 200px;
	// }

	.houses {
		&__gallery {
			height: 178px;
		}
	}

	//    .header {
	//        height: 100vh;
	//    }
	//
	//    .swiper {
	//        height: 100vh;
	//    }
	//
	//    .swiper-slide img {
	//        height: 100vh;
	//    }
}
