html,
body {
    height: 100%;
    color: $color-white;
    font-size: 20px;
    font-family: "Gilroy-Regular", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    width: 100px;
    height: auto;
}

// бургер
.burger {
    z-index: 3;
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 35px;
    height: 22px;
    cursor: pointer;
    padding: 0;
    position: relative;

    & span {
        position: relative;
        width: 100%;
        height: 3px;
        background-color: $color-white;
        border-radius: 3px;
        transition: 0.3s;
    }

    & span:nth-child(1) {
        top: 3px;
        transform: translateY(-10px);
    }

    & span:nth-child(3) {
        bottom: 3px;
        transform: translateY(10px);
    }

    &.open span:nth-child(1) {
        transform: rotate(45deg);
    }

    &.open span:nth-child(2) {
        opacity: 0;
    }

    &.open span:nth-child(3) {
        transform: rotate(-45deg);
    }
}

.header {
    height: 100vh;

    &__slider {
        &-slide {
            //position: absolute;
            //top: 0;
            //left: 0;
            //width: 100%;
            //z-index: -2;
            //min-height: 100vh;
            //display: flex;
            //align-items: center;

            img {
                //height: 100vh;
                //object-fit: cover;
            }
        }
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        height: 130px;
    }

    &__info {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;
    }

    &__location {
        margin-right: 73px;
        display: flex;
        align-items: center;

        svg {
            margin-right: 12px;
        }
    }

    &__email {
        margin-right: 68px;
        display: flex;
        align-items: center;

        svg {
            margin-right: 12px;
        }
    }

    &__phone {
        &-wrapper {
            display: flex;
            align-items: center;

            svg {
                margin-right: 12px;
            }
        }

        &-backcall {
            font-size: 16px;
            text-decoration-line: underline;
            text-align: right;
            margin: 5px 7px 0 0;
            cursor: pointer;
        }
    }

    // меню
    &__menu {
        padding: 33px 0;
        background-color: $color-bg-menu;
        position: relative;
        z-index: 2;

        &-items {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-link {
            transition: color 0.3s linear;

            &:hover {
                color: $color-hover;
            }
        }
    }

    // контент
    &__content {
        position: relative;
        z-index: 2;
        padding-top: 109px;

        &-wrapper {
            margin: 0 auto;
            text-align: center;
        }

        &-title {
            font-family: "Gilroy-Bold", sans-serif;
            font-size: 64px;
            line-height: 79px;
            text-align: center;
            color: $color-cream;
            margin-bottom: 30px;
            max-width: 900px;
            display: inline-block;
        }

        &-subtitle {
            font-size: 30px;
            line-height: 36px;
            text-align: center;
            max-width: 500px;
            margin: 0 auto 50px auto;
        }
    }
}

// стили для кнопок
.btn {
    background: $color-button;
    box-shadow: 0 4px 4px -2px $color-shadow;
    border-radius: 6px;
    padding: 25px 58px;
    transition: all 0.3s linear;
    cursor: pointer;

    &__text {
        font-family: "Gilroy-Semibold", sans-serif;
        font-size: 26px;
        color: $color-btn-text;
    }

    &:hover {
        filter: drop-shadow(0px 4px 8px #FCC183);
    }
}

// слайдер на главной
.swiper {
    width: 100%;
    height: 100%;
    position: absolute;
    //z-index: -1;
    top: 0;
    left: 0;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 80px;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 3px solid $color-white;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #E8C199;
    }
}

// отступы между dots
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 17px);
}

.main {
    background: $color-bg-main;
    height: 800px;
}

.title-h3 {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 50px;
    text-align: center;
}

.services {
    padding: 104px 0 110px 0;
}
