html,
body {
	height: 100%;
	font-family: "Gilroy-Regular", sans-serif;
	font-size: 20px;
	color: $color-white;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.logo {
	width: 100px;
	height: auto;
}

// бургер
.burger {
	z-index: 3;
	display: none;
	justify-content: center;
	flex-direction: column;
	width: 35px;
	height: 22px;
	cursor: pointer;
	padding: 0;
	position: relative;

	& span {
		position: relative;
		width: 100%;
		height: 3px;
		background-color: $color-white;
		border-radius: 3px;
		transition: 0.3s;
	}

	& span:nth-child(1) {
		top: 3px;
		transform: translateY(-10px);
	}

	& span:nth-child(3) {
		bottom: 3px;
		transform: translateY(10px);
	}

	&.open span:nth-child(1) {
		transform: rotate(45deg);
	}

	&.open span:nth-child(2) {
		opacity: 0;
	}

	&.open span:nth-child(3) {
		transform: rotate(-45deg);
	}
}

.header {
	position: relative;
	min-height: 100vh;

	&__slider {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;

		&-slide {
			text-align: center;
			font-size: 18px;
			background: #fff;

			/* Center slide text vertically */
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;

			img {
				display: block;
				width: 100%;
				height: 100%;

				object-fit: cover;
			}
		}
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		z-index: 2;
		height: 130px;
	}

	&__info {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 2;
	}

	&__location {
		margin-right: 73px;
		display: flex;
		align-items: center;

		svg {
			margin-right: 12px;
		}
	}

	&__email {
		margin-right: 68px;
		display: flex;
		align-items: center;

		svg {
			margin-right: 12px;
		}
	}

	&__phone {
		&-wrapper {
			display: flex;
			align-items: center;

			svg {
				margin-right: 12px;
			}
		}

		&-backcall {
			font-size: 16px;
			text-decoration-line: underline;
			text-align: right;
			margin: 5px 7px 0 0;
			cursor: pointer;
		}
	}

	// меню
	&__menu {
		padding: 33px 0;
		background-color: $color-bg-menu;
		position: relative;
		z-index: 2;

		&-items {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&-link {
			transition: color 0.3s linear;

			&:hover {
				color: $color-hover;
			}
		}
	}

	// контент
	&__content {
		position: relative;
		z-index: 2;
		padding-top: 109px;

		&-wrapper {
			margin: 0 auto;
			text-align: center;
			padding-bottom: 180px;
		}

		&-title {
			font-family: "Gilroy-Bold", sans-serif;
			font-size: 64px;
			line-height: 79px;
			text-align: center;
			color: $color-cream;
			margin-bottom: 30px;
			max-width: 900px;
			display: inline-block;
		}

		&-subtitle {
			font-size: 30px;
			line-height: 36px;
			text-align: center;
			max-width: 500px;
			margin: 0 auto 50px auto;
		}
	}

	&__swiper {
		&-pagination {
			position: absolute;
			text-align: center;
			transition: 0.3s opacity;
			transform: translate3d(0, 0, 0);
			z-index: 10;
		}
	}
}

// стили для кнопок
.btn {
	background: $color-button;
	box-shadow: 0 4px 4px -2px $color-shadow;
	border-radius: 6px;
	padding: 25px 58px;
	transition: all 0.3s linear;
	cursor: pointer;

	&__text {
		font-family: "Gilroy-Semibold", sans-serif;
		font-size: 26px;
		color: $color-btn-text;
	}

	&:hover {
		filter: drop-shadow(0px 4px 8px #fcc183);
	}
}

// слайдер на главной
.swiper {
	// width: 100%;
	// height: 100%;
	// position: absolute;
	// top: 0;
	// left: 0;
}

.swiper-slide {
	// text-align: center;
	// font-size: 18px;
	// background: #fff;

	// /* Center slide text vertically */
	// display: -webkit-box;
	// display: -ms-flexbox;
	// display: -webkit-flex;
	// display: flex;
	// -webkit-box-pack: center;
	// -ms-flex-pack: center;
	// -webkit-justify-content: center;
	// justify-content: center;
	// -webkit-box-align: center;
	// -ms-flex-align: center;
	// -webkit-align-items: center;
	// align-items: center;
}

.swiper-slide img {
	// display: block;
	// width: 100%;
	// height: 100%;

	// object-fit: cover;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: 80px;
}

.swiper-pagination-bullet {
	width: 20px;
	height: 20px;
	background: transparent;
	border: 3px solid $color-white;
	opacity: 1;
	outline: none;
}

.swiper-pagination-bullet-active {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 4px;
		left: 4px;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background-color: #e8c199;
	}
}

// отступы между dots
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 17px);
}

.main {
	background: $color-bg-main;
}

.title-h3 {
	font-family: "Gilroy-Bold", sans-serif;
	font-size: 50px;
	text-align: center;
}

.services {
	padding: 104px 0 40px 0;
	overflow: hidden;

	&__house {
	}

	&__items {
		// display: flex;
		// align-items: flex-start;
		// justify-content: space-between;
		margin: 20px auto 106px auto;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 31px 1fr;
		grid-column-gap: 70px;
		grid-row-gap: 29px;
	}

	&__item {
		// max-width: 570px;

		&-title {
			font-size: 26px;
			margin-bottom: 29px;
		}

		&-svg {
			display: none;
		}
	}

	&__list {
		&-item {
			position: relative;
			font-size: 18px;
			line-height: 22px;
			padding-left: 34px;

			&:not(:last-child) {
				margin-bottom: 24px;
			}

			&::before {
				position: absolute;
				content: "";
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background-color: $color-cream-two;
				box-shadow: 0 0 8px 0 rgba(232, 193, 153, 1);
				top: 0;
				left: 0;
			}
		}
	}

	&__action {
		display: flex;
		justify-content: center;
	}

	&__info {
		display: none;
		order: 4;
		width: 730px;
		margin: 0 auto 50px auto;

		&-text {
			position: relative;
			padding-left: 135px;
			line-height: 24px;

			&::before {
				content: "";
				position: absolute;
				background-color: $color-white-line;
				width: 110px;
				height: 1px;
				top: 10px;
				left: 0;
			}

			&:not(:last-child) {
				margin-bottom: 33px;
			}
		}
	}
}

.house {
	position: relative;
	max-width: 1020px;
	height: 602px;
	margin: 60px auto 0 auto;

	&__top {
		position: absolute;
		top: 0;
		transform: translateY(-80px);
		opacity: 0;
		transition: all 0.5s linear 0.5s;

		&-text {
			position: absolute;
			top: 90px;
			left: 80px;
			line-height: 24px;

			&::after {
				content: "";
				position: absolute;
				bottom: -19px;
				left: 0;
				width: 350px;
				height: 1px;
				background-color: $color-white-line;
			}
		}

		&.active {
			transform: translateY(0px);
			opacity: 1;
		}
	}

	&__left {
		position: absolute;
		top: 0;
		transform: translateX(-50px);
		opacity: 0;
		transition: all 0.4s linear 0.5s;

		&-text {
			max-width: 330px;
			position: absolute;
			top: 225px;
			left: -90px;
			line-height: 24px;

			&::after {
				content: "";
				position: absolute;
				bottom: -19px;
				left: 0;
				width: 320px;
				height: 1px;
				background-color: $color-white-line;
			}
		}

		&.active {
			transform: translateX(0px);
			opacity: 1;
		}
	}

	&__right {
		position: absolute;
		top: 0;
		// animation: house_right linear 0.4s;
		transform: translateX(50px);
		opacity: 0;
		transition: all 0.4s linear 0.5s;

		&-text {
			max-width: 330px;
			position: absolute;
			top: 135px;
			right: -150px;
			line-height: 24px;

			&::after {
				content: "";
				position: absolute;
				bottom: -19px;
				right: 0;
				width: 415px;
				height: 1px;
				background-color: $color-white-line;
			}
		}

		&.active {
			transform: translateX(0px);
			opacity: 1;
		}
	}
}

.technologies {
	&__wrapper {
		padding: 90px 0;
	}

	&__title {
		margin-bottom: 48px;
	}

	&__tabs {
		display: flex;
		flex-direction: column;
	}
}

.tabs {
	&__btn {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
		margin: 0 auto;
		// display: flex;
		// flex-wrap: wrap;
		// align-items: center;
		// justify-content: space-between;
		// width: 592px;
		// margin: 0 auto;

		&-item {
			border: 1px solid $color-cream-two;
			border-radius: 6px;
			background-color: transparent;
			color: $color-cream-two;
			font-size: 18px;
			padding: 14px 21px;
			transition: all 0.3s linear;
			cursor: pointer;
			margin-bottom: 12px;
			box-sizing: border-box;

			&:hover {
				box-shadow: 0 0 8px 0 $color-cream-two;
			}

			&.active {
				color: $color-btn-text;
				background-color: $color-cream-two;
			}

			&:not(:last-child) {
				margin-right: 12px;
			}
		}
	}

	&__content {
		margin-top: 43px;

		&-item {
			display: none;
			align-items: flex-end;
			justify-content: space-between;

			&.active {
				display: flex;
			}
		}

		&-list {
			max-width: 525px;
			margin-right: 25px;
		}

		&-preview {
			flex-shrink: 0;
			width: 455px;
			position: relative;
			margin-right: 120px;
		}

		&-info {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: $color-cream-two;

			position: absolute;

			cursor: pointer;
			transition: all 0.3s linear;

			&::before {
				content: url(../images/plus.svg);
				position: absolute;
				left: 10px;
				top: 10px;
				width: 20px;
				height: 20px;
			}

			&:hover {
				box-shadow: 0 0 8px 0 $color-cream-two;
				.tabs__content-hover {
					opacity: 1;
					transform: translateY(0);
				}
			}

			&.active {
				box-shadow: 0 0 8px 0 $color-cream-two;
				.tabs__content-hover {
					opacity: 1;
					transform: translateY(0);
				}
			}
		}

		&-hover {
			position: absolute;

			background-color: $color-black-gray;
			border-radius: 5px;
			padding: 24px 28px;

			opacity: 0;
			transform: translateY(20px);
			transition: all 0.3s linear;
			box-sizing: border-box;
		}
	}

	&__column {
		display: none;
		align-items: flex-start;
		justify-content: space-between;

		&.active {
			display: flex;
		}

		&-list {
			max-width: 390px;
		}

		&-img {
			margin-top: 35px;
			width: 360px;
			height: 324px;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				z-index: 2;
			}

			&::before {
				content: "";
				position: absolute;
				width: 324px;
				height: 324px;
				background-color: $color-black-two;
				top: 0;
				left: 18px;
				border-radius: 50%;
				z-index: 1;
			}
		}
	}
}

.marker {
	&__one {
		top: -50px;
		right: 5px;

		&-hover {
			width: 217px;
			top: -85px;
			left: -90px;
		}
	}

	&__two {
		top: 10px;
		left: 120px;

		&-hover {
			width: 223px;
			top: -85px;
			left: -92px;
		}
	}

	&__three {
		top: 104px;
		left: 0px;

		&-hover {
			width: 103px;
			top: -85px;
			left: -32px;
		}
	}

	&__four {
		bottom: 96px;
		right: 20px;

		&-hover {
			width: 200px;
			top: -85px;
			left: -78px;
		}
	}
}

.list {
	&__item {
		&-title {
			font-family: "Gilroy-Semibold";
			position: relative;
			padding-left: 37px;
			margin-bottom: 12px;
			display: inline-block;

			&::before {
				// content: url(../../images/list-marker.svg);
				content: "";
				position: absolute;
				width: 25px;
				height: 25px;
				top: -3px;
				left: 0;
				background-image: url("../images/list-marker.svg");
				background-size: 25px 25px;
			}
		}

		&-text {
			font-size: 18px;
			line-height: 22px;
			color: $color-mobile-list;
			padding-left: 37px;
		}

		&:not(:last-child) {
			margin-bottom: 27px;
		}
	}
}

.projects {
	padding: 55px 0 130px 0;

	&__container {
		width: 100%;
		height: 100%;
		// overflow: hidden;
		position: relative;
	}

	&__scroll {
		position: absolute;
		bottom: -50px;
		// left: calc(50% - (514px / 2));
		left: 0;
		// width: 100%;
		height: 29px;
		// flex: 0 0 514px;
		// width: 514px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		&-wrapper {
			width: 514px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		// сам скроллбар
		.swiper-scrollbar {
			height: 3px;
			background-color: $color-white;
			width: 100%;
		}

		// бегунок
		.swiper-scrollbar-drag {
			background-color: $color-cream-three;
			cursor: pointer;
		}

		span:first-child {
			font-size: 26px;
			color: $color-cream-three;
			font-family: "Gilroy-Bold", sans-serif;
			margin-right: 15px;
			width: 35px;
		}

		span:last-child {
			font-size: 26px;
			color: $color-gray;
			margin-left: 15px;
			width: 35px;
		}
	}

	&__navigation {
		position: absolute;
		top: 162px;
		width: calc(100% + (40px * 2) + (18px * 2));
		left: -58px; // 40 + 18

		.swiper-button-prev {
			position: absolute;
			left: 0;
			width: 40px;
			height: 36px;
			outline: none;

			&::after {
				position: absolute;
				content: "";
				background-image: url("../images/swiper-prev.svg");
				background-size: 40px 36px;
				width: 40px;
				height: 36px;
				left: 0;
				top: 0;
			}
		}

		.swiper-button-next {
			position: absolute;
			right: 0;
			width: 40px;
			height: 36px;
			outline: none;

			&::after {
				position: absolute;
				content: "";
				background-image: url("../images/swiper-next.svg");
				background-size: 40px 36px;
				width: 40px;
				height: 36px;
				right: 0;
				top: 0;
			}
		}
	}

	&__tabs {
		margin-top: 48px;

		.tabs__btn {
			padding: 0 58px;
			margin-bottom: 18px;
		}

		.tabs__content {
			padding: 0 58px;
			margin-top: 0;
		}
	}

	&__slider {
		width: 100%;
		height: 100%;
		// height: 500px;
		overflow: hidden;
		position: relative;
		margin-bottom: 30px;
	}

	&__slide {
		height: 100%;
		overflow: hidden;
		cursor: pointer;
		// min-width: 348px;

		&-img {
			height: 282px;
			margin-bottom: 30px;

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}

		&-title {
			font-family: "Gilroy-Medium", sans-serif;
			font-size: 26px;
			line-height: 32px;
			margin-bottom: 15px;
		}

		&-text {
			font-size: 18px;
			line-height: 22px;
			color: $color-mobile-list;
		}
	}
}

// этапы строительства
.stages {
	padding: 40px 0 50px;

	&__items {
		padding-top: 46px;
		// display: flex;
		// align-items: flex-start;
		// flex-wrap: wrap;
		display: grid;

		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

		grid-row-gap: 30px;
	}

	&__item {
		display: grid;
		// grid-template-columns: 300px;
		grid-template-columns: 1fr;
		// grid-template-rows: 100px 20px minmax(31px, 1fr) 123px;
		grid-template-rows: 100px 20px auto 1fr;

		&-number {
			font-family: "Gilroy-Bold", sans-serif;
			font-size: 70px;
			background-image: $color-stages-number;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		&-line {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				top: 10px;
				left: 10px;
				width: calc(100% - 10px);
				height: 1px;
				background-color: $color-white-line;
			}

			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 20px;
				background: $color-stages-number;
				border-radius: 50%;
			}
		}

		&-title {
			font-family: "Gilroy-Medium", sans-serif;
			font-size: 26px;
			line-height: 32px;
			padding: 25px 16px 12px 0;
		}

		&-description {
			font-size: 18px;
			line-height: 22px;
			color: $color-mobile-list;
			padding-right: 16px;
			// height: 85px;
			overflow: hidden;
		}

		// у последнего этапа, убираем линию
		&:last-child {
			.stages__item-line::before {
				display: none;
			}
		}
	}
}
