$color-white: #FFF;
$color-cream: #F7EDDE;
$color-hover: #EED9AD;
$color-shadow: rgba(252, 192, 130, 0.6);
$color-button: linear-gradient(0deg, #F7BB7D -9.37%, #FFC386 130.62%);
$color-bg-slider: linear-gradient(179.15deg, rgba(14, 14, 14, 0.8) -19.49%, rgba(35, 34, 34, 0) 144.85%);
$color-bg-menu: rgba(22, 27, 36, 0.5);
$color-btn-text: #393939;

$color-bg-main: linear-gradient(204.8deg, #383838 22.99%, #232323 91.5%);